<h3>Login</h3>
<form action="/login" method="POST">
  <input type="text" id= "" name="name" placeholder="Recipe Name:">
  <input type="password" id="recipe" name="recipe" placeholder="Recipe">
  <input type="submit" value="Log In">
</form>
